In [1]:
import requests
# For saving access tokens and for file management when creating and adding to the dataset
import os
# For dealing with json responses we receive from the API
import json
# For displaying the data after
import pandas as pd
# For saving the response data in CSV format
import csv
# For parsing the dates received from twitter in readable formats
import datetime
import dateutil.parser
import unicodedata
#To add wait time between requests
import time

# To load credentials
import yaml
from datetime import date
from datetime import datetime, timezone
from pathlib import Path

In [7]:
df_sample = pd.read_csv("/home/matheus/companies_sm_rep/sample.csv")
df_sample

,text,company,label
0,Fiz upgrade de iPhone. E tô amando.,Apple,Very Positive
1,Só não acreditei por causa do iPhone https://t...,Apple,Neutral
2,Melhor coisa que a Apple já fez no software fo...,Apple,Positive
3,Meu namorado ta deprimido pq a @americanas mud...,Apple,Negative
4,@Iostinurpride o mei tá sobrevivendo por apare...,Apple,Neutral
...,...,...,...
174,"@nubank @Evelinand04 Boa noite, @nubank esse f...",Nubank,Negative
175,Nubank aumentou meu limite do cartão logo hj k...,Nubank,Positive
176,@athenafulcanel amiga eu sou fã da quinn tbm !...,Riot Games,Positive
177,fazendo as contas por cima de quanto o Simu Li...,Marvel,Neutral
178,@Snaihtnirocccc O certo é coquetel Motorola,Motorola,Neutral

In [6]:
df_tweets = pd.read_csv("/home/matheus/companies_sm_rep/tweets.csv")
df_tweets

,index,company,replied_to,quoted,retweet_count,reply_count,like_count,quote_count,text,source,lang,reply_settings,created_at
0,0,Riot Games,1.0,0.0,0.0,1.0,0.0,0.0,riot games feche o league of legends e faça só...,Twitter for Android,pt,everyone,2021-11-27 20:11:34+00:00
1,1,Riot Games,1.0,0.0,0.0,0.0,0.0,0.0,"@VictorKeos Ta linda, mas eu queria saber se a...",Twitter for Android,pt,everyone,2021-11-27 20:10:44+00:00
2,2,Riot Games,1.0,0.0,0.0,0.0,0.0,0.0,@pistache_riot AAAAAAAAH banana é tão bom falo...,Twitter for Android,pt,everyone,2021-11-27 20:10:18+00:00
3,3,Riot Games,0.0,1.0,0.0,0.0,0.0,0.0,a riot odeia mesmo o lol de pc ne a ori vitori...,Twitter for iPhone,pt,everyone,2021-11-27 20:08:20+00:00
4,4,Riot Games,0.0,0.0,0.0,0.0,0.0,0.0,Riot bota os clubes de novo https://t.co/n4H1M...,Twitter for iPhone,pt,everyone,2021-11-27 20:07:49+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15282,15386,Marvel,1.0,0.0,0.0,1.0,1.0,0.0,@cesarDmello Os Malandros da Marvel e Sony est...,Twitter Web App,pt,everyone,2021-11-28 01:51:34+00:00
15283,15387,Marvel,1.0,0.0,0.0,1.0,0.0,0.0,– Capitão América: O Primeiro Vingador (1943-...,Twitter for Android,pt,everyone,2021-11-28 01:51:22+00:00
15284,15388,Marvel,0.0,0.0,0.0,1.0,0.0,0.0,Ordem dos filmes da Marvel https://t.co/EDH65V...,Twitter for Android,pt,everyone,2021-11-28 01:51:22+00:00
15285,15389,Marvel,0.0,0.0,0.0,1.0,0.0,0.0,Motivos de eu não assistir Duna:\n. Timothée t...,Twitter for Android,pt,following,2021-11-28 01:51:03+00:00
15286,15390,Marvel,0.0,0.0,0.0,0.0,1.0,0.0,Gavião Arqueiro (S01E02)\nExibição: Disney+\n\...,Twitter Web App,pt,everyone,2021-11-28 01:50:48+00:00

In [56]:
current_dir = Path.cwd()
current_dit = current_dir.parent.parent.parent

In [19]:
with open("../../../conf/local/credentials.yml", "r") as stream:
    try:
        cred = yaml.safe_load(stream)['twitter_api']
    except yaml.YAMLError as exc:
        print(exc)

In [27]:
def auth():
    with open("../../../conf/local/credentials.yml", "r") as stream:
        try:
            return yaml.safe_load(stream)['twitter_api']
        except yaml.YAMLError as exc:
            print(exc)

def create_headers(bearer_token):
    headers = {"Authorization": "Bearer {}".format(bearer_token)}
    return headers

In [28]:
def create_url(keyword, start_date, max_results = 10):
    
    search_url = "https://api.twitter.com/2/tweets/search/recent" #Change to the endpoint you want to collect data from

    #change params based on the endpoint you are using
    query_params = {'query': keyword,
                    'start_time': start_date,
                    'max_results': max_results,
                    'expansions': 'author_id,in_reply_to_user_id,geo.place_id',
                    'tweet.fields': 'id,text,author_id,in_reply_to_user_id,geo,conversation_id,created_at,lang,public_metrics,referenced_tweets,reply_settings,source',
                    'user.fields': 'id,name,username,created_at,description,public_metrics,verified',
                    'place.fields': 'full_name,id,country,country_code,geo,name,place_type',
                    'next_token': {}}
    return (search_url, query_params)

In [29]:
def connect_to_endpoint(url, headers, params, next_token = None):
    params['next_token'] = next_token   #params object received from create_url function
    response = requests.request("GET", url, headers = headers, params = params)
    #print("Endpoint Response Code: " + str(response.status_code))
    if response.status_code != 200:
        raise Exception(response.status_code, response.text)
    return response.json()

In [30]:
import pytz

local_tz = pytz.timezone('America/Bahia')

In [31]:
from datetime import date
from datetime import datetime, timezone
today = date.today()
today = datetime.combine(date.today(), datetime.min.time())

def utc_to_local(utc_dt):
    return utc_dt.replace(tzinfo=pytz.timezone('America/Bahia')).astimezone(tz=None)

today.strftime("%Y-%m-%dT%H:%M:%S.52-03:00")

'2021-11-27T00:00:00.52-03:00'

In [32]:
from datetime import date
from datetime import datetime, timezone, timedelta
today = date.today()
delta = timedelta(hours=24)
datetime.now() - delta

datetime.datetime(2021, 11, 26, 11, 20, 44, 985018)

In [54]:
pytz.timezone('America/Sao_Paulo')

In [57]:
from datetime import date
from datetime import datetime, timezone
today = date.today()
today = datetime.combine(date.today(), datetime.min.time())
delta = timedelta(hours=24)
start_time = datetime.now() - timedelta(hours=24)

bearer_token = auth()
headers = create_headers(bearer_token)
keyword = "riot lang:pt"
start_time = (datetime.now() - timedelta(hours=24)).replace(tzinfo=pytz.timezone('America/Sao_Paulo'))
start_time =start_time.isoformat()#.strftime("%Y-%m-%dT%H:%M:%S%z")
end_time = today.strftime("%Y-%m-%dT%H:%M:%S.52-03:00")#"2021-11-23T00:00:00.52-03:00"
max_results = 10
start_time

'2021-11-26T11:31:19.297801-03:06'

In [58]:
url = create_url(keyword, start_time, max_results)
json_response = connect_to_endpoint(url[0], headers, url[1])

In [68]:
json_response['meta']['next_token']

'b26v89c19zqg8o3fpdy78yu776llvt0uhgzluoobudqwt'

In [74]:
companies = [
    {
        "id": "riot",
        "name": "Riot Games",
        "query": "riot"
    },
    {
        "id": "apple",
        "name":"Apple",
        "query": "apple OR iphone"
    }
    
]
df_companies = pd.DataFrame(data=companies)
df_companies = df_companies.set_index('id')
df_companies.to_sql(name='companies', 
                    con='postgresql+psycopg2://postgres:1234@localhost:5432/companies_sm_datalake',
                    if_exists='fail')

In [75]:
def add_companies(companies, con, table_name='companies'):
    '''
    Add companies to database
    Args:
        - companies: list with companies info
    '''
    df_companies = pd.DataFrame(data=companies)
    df_companies.to_sql(name=table_name, 
                    con=con,
                    if_exists='append')
    return df_companies

def load_companies(con, table_name='companies'):
    df = pd.read_sql_table(table_name, con)
    df = df.set_index('id')
    return df

In [76]:
df_companies = load_companies('postgresql+psycopg2://postgres:1234@localhost:5432/companies_sm_datalake', 'companies')
df_companies

             name            query
id
riot   Riot Games             riot
apple       Apple  apple OR iphone

In [77]:

def get_tweets(company, max_tweets=10000, results_by_page=50):
    today = date.today()
    today = datetime.combine(date.today(), datetime.min.time())
    start_time = today.strftime("%Y-%m-%dT%H:%M:%S.52-03:00")
    keyword = f"{company['query']} lang:pt"

    search = True
    next_token = None
    df_tweets = pd.DataFrame()
    page = 1
    while search and df_tweets.shape[0] < max_tweets:
    
        url = create_url(keyword, start_time, results_by_page)
        json_response = connect_to_endpoint(url[0], headers, url[1], next_token=next_token)


        for tweet in json_response['data']:
            tweet_info = {'company':company['name'], 'replied_to': False, 'quoted': False}
            retweet = False
            if 'referenced_tweets' in tweet: 
                for ref in tweet['referenced_tweets']:
                    if ref['type'] == 'retweeted':
                        retweet = True
                    else:
                        tweet_info[ref['type']] = True
            if retweet:
                continue
            for metric in tweet['public_metrics']:
                tweet_info[metric] = tweet['public_metrics'][metric]
            tweet_info['text'] = tweet['text']
            tweet_info['source'] = tweet['source']
            tweet_info['lang'] = tweet['lang']
            tweet_info['reply_settings'] = tweet['reply_settings']
            tweet_info['created_at'] = tweet['created_at']
            df_tweets = df_tweets.append(tweet_info, ignore_index=True)
        if 'next_token' in json_response['meta']:
            next_token = json_response['meta']['next_token']
        else:
            next_token = None
        print(f"\rpage: {page}, tweets: {df_tweets.shape[0]}", end='')
        page += 1
        if next_token is None:
            search = False
    return df_tweets

In [93]:
df_companies = load_companies('postgresql+psycopg2://postgres:1234@localhost:5432/companies_sm_datalake', 'companies')
for i, company in df_companies.iterrows():
    print(company['name'])

Riot Games
Apple

In [90]:
class TwitterExtractor:
    
    def __init__(self, database_con, companies_table, tweets_table):
        self.__database_con = database_con
        self.__companies_table = companies_table
        self.__tweets_table = tweets_table
        self.get_companies()
    
    def _add_companies(self, companies):
        '''
        Add companies to database
        '''
        self.df_companies = pd.DataFrame(data=companies)
        self.df_companies.to_sql(name=self.__companies_table, 
                        con=self.__database_con,
                        if_exists='append')

    def get_companies(self):
        '''
        Load companies from database
        '''
        self.df_companies = pd.read_sql_table(self.__companies_table, self.__database_con)
        self.df_companies = self.df_companies.set_index('id')
        return self.df_companies
    
    def _extract_tweets(self, company, max_tweets=10000, results_by_page=50):
        today = date.today()
        today = datetime.combine(date.today(), datetime.min.time())
        start_time = today.strftime("%Y-%m-%dT%H:%M:%S.52-03:00")
        keyword = f"{company['query']} lang:pt"

        search = True
        next_token = None
        df_tweets = pd.DataFrame()
        page = 1
        while search and df_tweets.shape[0] < max_tweets:

            url = create_url(keyword, start_time, results_by_page)
            json_response = connect_to_endpoint(url[0], headers, url[1], next_token=next_token)


            for tweet in json_response['data']:
                tweet_info = {'company':company['name'], 'replied_to': False, 'quoted': False}
                retweet = False
                if 'referenced_tweets' in tweet: 
                    for ref in tweet['referenced_tweets']:
                        if ref['type'] == 'retweeted':
                            retweet = True
                        else:
                            tweet_info[ref['type']] = True
                if retweet:
                    continue
                for metric in tweet['public_metrics']:
                    tweet_info[metric] = tweet['public_metrics'][metric]
                tweet_info['text'] = tweet['text']
                tweet_info['source'] = tweet['source']
                tweet_info['lang'] = tweet['lang']
                tweet_info['reply_settings'] = tweet['reply_settings']
                tweet_info['created_at'] = tweet['created_at']
                df_tweets = df_tweets.append(tweet_info, ignore_index=True)
            if 'next_token' in json_response['meta']:
                next_token = json_response['meta']['next_token']
            else:
                next_token = None
            print(f"\rpage: {page}, tweets: {df_tweets.shape[0]}", end='')
            page += 1
            if next_token is None:
                search = False
        return df_tweets
    
    def extract_last_tweets(self,  max_tweets_search=10000, results_by_page=100):
        new_tweets = pd.DataFrame()
        for i, company in self.df_companies.iterrows():
            new_tweets = new_tweets.append(self._extract_tweets(company, max_tweets=max_tweets_search, results_by_page=results_by_page), ignore_index=True)
            time.sleep(10)
        new_tweets = new_tweets[new_tweets.lang == 'pt']
        new_tweets.to_sql(name=self.__tweets_table, 
                        con=self.__database_con,
                        if_exists='append')
    
    def get_tweets(self):
        self.df_tweets = pd.read_sql_table(self.__tweets_table, self.__database_con)
        
        return self.df_tweets

In [91]:
con = 'postgresql+psycopg2://postgres:1234@localhost:5432/companies_sm_datalake'
companies_table = 'companies'
tweets_table = 'tweets'
extractor = TwitterExtractor(con, companies_table, tweets_table)

In [84]:
extractor.extract_last_tweets()

page: 230, tweets: 10030

In [92]:
df_tweets = extractor.get_tweets()
df_tweets

,index,company,created_at,lang,like_count,quote_count,quoted,replied_to,reply_count,reply_settings,retweet_count,source,text
0,0,Riot Games,2021-11-27T01:37:51.000Z,pt,0.0,0.0,0.0,0.0,0.0,everyone,0.0,Twitter for Android,Pubg fazendo parceria com a Riot aaaaaa surto
1,1,Riot Games,2021-11-27T01:36:55.000Z,pt,0.0,0.0,0.0,0.0,0.0,everyone,0.0,Twitter for iPhone,riot gastou milhões com arcane mas nem para ar...
2,2,Riot Games,2021-11-27T01:36:47.000Z,pt,0.0,0.0,0.0,0.0,0.0,everyone,0.0,Twitter for Android,A riot deve me odiar muito pra me dar a skin d...
3,3,Riot Games,2021-11-27T01:36:19.000Z,pt,0.0,0.0,0.0,1.0,0.0,everyone,0.0,Twitter Web App,"@Shotarokujoh A Riot tem dinheiro pra porr*, e..."
4,4,Riot Games,2021-11-27T01:35:16.000Z,pt,0.0,0.0,0.0,0.0,0.0,everyone,0.0,Twitter for Android,É muito duro quando a Riot e a EA no mesmo dia...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1374,10798,Apple,2021-11-27T00:27:44.000Z,pt,0.0,0.0,0.0,0.0,0.0,everyone,1.0,Tweetbot for iΟS,Alguém interessado em um iPhone 11 Pro 256Gb e...
1375,10821,Apple,2021-11-27T00:27:36.000Z,pt,0.0,0.0,0.0,0.0,0.0,everyone,1.0,Twitter for Android,"meu sonho é ser igual minha melhor amg, tudo q..."
1376,10833,Apple,2021-11-27T00:27:32.000Z,pt,12.0,0.0,0.0,0.0,0.0,everyone,4.0,Twitter for iPhone,"não achei o iphone 12 de 128gb por 20 reais, b..."
1377,10841,Apple,2021-11-27T00:27:26.000Z,pt,1.0,0.0,0.0,0.0,0.0,everyone,1.0,Twitter for Android,Gente a menina com 4 anos já tinha iphone mise...
1378,10872,Apple,2021-11-27T00:27:14.000Z,pt,0.0,0.0,0.0,1.0,1.0,everyone,0.0,Twitter for Android,@jotajooj_ Vsfd joao prefiro compra um iphone ...

In [15]:

df_tweets = pd.DataFrame()
for i, company in companies.iterows():
    df_tweets = df_tweets.append(get_tweets(company, max_tweets=10000, results_by_page=100), ignore_index=True)
    time.sleep(10)

NameError: name 'companies' is not defined

In [14]:
df_tweets = df_tweets[df_tweets.lang == 'pt']

NameError: name 'df_tweets' is not defined

In [120]:
df_tweets

,company,created_at,lang,like_count,quote_count,quoted,replied_to,reply_count,reply_settings,retweet_count,source,text
0,Riot,2021-11-25T02:01:58.000Z,en,0.0,0.0,0.0,0.0,0.0,everyone,0.0,Twitter Web App,[U.S. stocks block chain concept stocks genera...
1,Riot,2021-11-25T02:01:28.000Z,en,0.0,0.0,0.0,1.0,0.0,everyone,0.0,Twitter for Android,@MikeChiggen Already seeing shit saying thats ...
2,Riot,2021-11-25T02:01:28.000Z,en,0.0,0.0,0.0,0.0,0.0,everyone,0.0,Radio.co now playing,Now Playing - Kaiser Chiefs - I Predict a Riot...
3,Riot,2021-11-25T02:01:26.000Z,en,0.0,0.0,0.0,1.0,0.0,everyone,0.0,Twitter Web App,"@KaiyoTsuki I think that's a riot thing tbh, m..."
4,Riot,2021-11-25T02:01:21.000Z,pt,0.0,0.0,0.0,1.0,0.0,everyone,0.0,Twitter Web App,@VDML5 @LoLegendsBR n man óbvio q a riot n vai...
...,...,...,...,...,...,...,...,...,...,...,...,...
10009,Riot,2021-11-24T14:39:51.000Z,cy,0.0,0.0,0.0,0.0,0.0,everyone,0.0,Twitter for Android,cade a skin Caitlyn arcane no wr riot????
10010,Riot,2021-11-24T14:39:46.000Z,en,0.0,0.0,0.0,0.0,0.0,everyone,0.0,Penname,When White People Riot. They Were Just a Littl...
10011,Riot,2021-11-24T14:39:39.000Z,en,2.0,0.0,0.0,0.0,0.0,everyone,0.0,Streamlabs Twitter,Discussion et Riot Games ? !sub https://t.co/f...
10012,Riot,2021-11-24T14:39:33.000Z,de,16.0,1.0,1.0,0.0,0.0,everyone,8.0,Twitter for Android,"Erneute Strassenkämpfe in #Cadiz, an vielen St..."
10013,Riot,2021-11-24T14:39:30.000Z,ja,0.0,0.0,0.0,1.0,0.0,everyone,0.0,Twitter for Android,@yuka_n_RIOT 相変わらず独特のヒントやなぁ！楽しみ✨